# Ignore everything
*

# Allow specific folders (need both the folder and its contents)
!btop/
!btop/**


!dunst/
!dunst/**

!fastfetch/
!fastfetch/**

!fish/
!fish/**

!hypr/
!hypr/**


!kitty/
!kitty/**


!matugen/
!matugen/**

!nvim/
!nvim/**

!rofi/
!rofi/**

!Script/
!Script/**

!shell/
!shell/**

!tmux/
!tmux/**

!waybar/
!waybar/**

!wal/
!wal/**

!wlogout/
!wlogout/**

!zed/
!zed/**

# Allow specific files
!.gitignore
!README.md

!dolphinrc
!gwenviewrc
!mineapp.list
!starship.toml
