
    @define-color background #0e1513;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #2b322f;

    @define-color inverse_primary #096b5a;

    @define-color inverse_surface #dee4e0;

    @define-color on_background #dee4e0;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #00382e;

    @define-color on_primary_container #a1f2dc;

    @define-color on_primary_fixed #00201a;

    @define-color on_primary_fixed_variant #005143;

    @define-color on_secondary #1d352f;

    @define-color on_secondary_container #cde8df;

    @define-color on_secondary_fixed #06201a;

    @define-color on_secondary_fixed_variant #334b45;

    @define-color on_surface #dee4e0;

    @define-color on_surface_variant #bfc9c4;

    @define-color on_tertiary #103447;

    @define-color on_tertiary_container #c7e7ff;

    @define-color on_tertiary_fixed #001e2e;

    @define-color on_tertiary_fixed_variant #2a4a5f;

    @define-color outline #89938f;

    @define-color outline_variant #3f4945;

    @define-color primary #85d6c1;

    @define-color primary_container #005143;

    @define-color primary_fixed #a1f2dc;

    @define-color primary_fixed_dim #85d6c1;

    @define-color scrim #000000;

    @define-color secondary #b1ccc3;

    @define-color secondary_container #334b45;

    @define-color secondary_fixed #cde8df;

    @define-color secondary_fixed_dim #b1ccc3;

    @define-color shadow #000000;

    @define-color source_color #69837b;

    @define-color surface #0e1513;

    @define-color surface_bright #343b38;

    @define-color surface_container #1b211f;

    @define-color surface_container_high #252b29;

    @define-color surface_container_highest #303634;

    @define-color surface_container_low #171d1b;

    @define-color surface_container_lowest #090f0e;

    @define-color surface_dim #0e1513;

    @define-color surface_tint #85d6c1;

    @define-color surface_variant #3f4945;

    @define-color tertiary #aacbe3;

    @define-color tertiary_container #2a4a5f;

    @define-color tertiary_fixed #c7e7ff;

    @define-color tertiary_fixed_dim #aacbe3;

