@import "./colors.css";

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: @background;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button {
  border-radius: 16px;
  margin: 6px;
  text-decoration: none;
  color: @seconday;
  background-color: @seconday;
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.8s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover {
  outline-style: none;
  background-color: @on_primary;
  border: 3px solid @on_primary;
  padding: 50px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
